header img{
width:90px;
}

header {
	margin-bottom: 5em;
}

.menue li{
margin-top:10px;
}

.titre{
color:#FF5862;
margin:0;
padding:0;
font-family: 'Source Sans Pro', sans-serif;
font-size: 4em;
}

.phrase{
margin:0;
padding:0;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 300;
font-size: 4em;
}

.bouton {
	background-color: #FF979D;
	margin-bottom:20px;
	margin-left:50px;
	color:white;
	font-size: 20px;
	width: 150px

}
.categorie {
	font-size: 20px;
	color:grey;
}
.titre {
	margin-top: 10px;
}
.header{
	border:1px solid lightgrey;
	border-radius:5px;
}

.div{
	border-right: 1px solid lightgrey;
	margin:0px;
}

/*Ali et Julie*/
.annonce p {
	font-family: 'Source Sans Pro', sans-serif;
	color: #484848;
}

.annonce {
	margin: 0.3em;
}

.titre-annonce {
	font-weight: 500;
}

.type-logement {
	font-weight: 900;
	font-size: 1.5em;
	line-height: 1em;
}

.prix-nuit {
	font-weight: 200;
	font-size: 1.5em;
}

.titre-section {
	font-size: 2em;
	font-weight: 700;
	padding-bottom: 0.5em;
}

.head-annonce {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Source Sans Pro', sans-serif;
	color: #484848;
}

.arrow img{
	margin-top: 6em;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 3.5em;
	opacity: 0.6;
}
/*--Fin CSS Ali et Julie--*/
