header img{
width:90px;
}
.menue li{
margin-top:10px;
}

.titre{
color:#FF5862;
margin:0;
padding:0;
}

.phrase{
margin:0;
padding:0;
}

.bouton {
	background-color: #FF979D;
	margin-bottom:20px;
	margin-left:50px;
	color:white;
	font-size: 20px;
	width: 150px

}
.categorie {
	font-size: 20px;
	color:grey;
}
.titre {
	margin-top: 10px;
}
.header{
	border:1px solid lightgrey;
	border-radius:5px;
}

.div{
	border-right: 1px solid lightgrey;
	margin:0px;
}

