@media screen and (max-width: 780px) {
	header {
		background-color: #FF5862;
	}
	.titre {
		color: darkgrey;
	}
	.phrase {
		color: white;
	}
}

header img{
width:90px;
}

header {
	margin-bottom: 5em;
}

.menue li{
margin-top:10px;
}

.titre{
color:#FF5862;
margin:0;
padding:0;
font-family: 'Source Sans Pro', sans-serif;
font-size: 3em;
}

.phrase{
margin:0;
padding:0;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 300;
font-size: 3em;
}

.bouton {
	background-color: #FF979D;
	margin-bottom:20px;
	margin-left:50px;
	color:white;
	font-size: 20px;
	width: 150px

}
.categorie {
	font-size: 20px;
	color:grey;
}
.titre-form {
	margin-top: 10px;
}
.header{
	border:1px solid lightgrey;
	border-radius:5px;
}

.div{
	border-right: 1px solid lightgrey;
	margin:0px;
}


/*Ali et Julie*/
.annonce p {
	font-family: 'Source Sans Pro', sans-serif;
	color: #484848;
}

.annonce {
	margin: 0.3em;
}

.titre-annonce {
	font-weight: 500;
}

.type-logement {
	font-weight: 900;
	font-size: 1.5em;
	line-height: 1em;
}

.prix-nuit {
	font-weight: 200;
	font-size: 1.5em;
}

.titre-section {
	font-size: 2em;
	font-weight: 700;
	padding-bottom: 0.5em;
}

.head-annonce {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Source Sans Pro', sans-serif;
	color: #484848;
}

.arrow img{
	margin-top: 6em;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 3.5em;
	opacity: 0.6;
}
/*--Fin CSS Ali et Julie--*/

/* Amine & Addal */
fieldset {
  border-left: transparent;
  border-right: transparent;
  border-bottom: transparent;
  padding: 20px 40px 20px 40px;
  border-top: 1px solid rgba(224, 224, 224, .6);
  margin-top: 20px;
}
#t3 {
  text-align: left;
  color: #484848;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 15px;
}
#a1 {
  color:#767676;
  font-size: 15px;
  text-decoration: none;
}
#a2 {
  color:#767676;
  font-size: 15px;
  margin-left: 24px;
  text-decoration: none;
}
.opt1 {
  padding-right: 60px;
  overflow: hidden;
  background: white;
  border: 1px solid rgba(224, 224, 224, .6);
  color: #484848;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}
.opt2 {
  padding-right: 84px;
  overflow: hidden;
  background: white;
  border: 1px solid rgba(224, 224, 224, .6);
  color: #484848;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}
.footer1 {
  display: flex;
  margin-top: 210px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 30px;
  margin-left: 80px;
  position: absolute;
  color: #767676;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  border: 1px solid rgba(224, 224, 224, .6);
  border-left: transparent;
  border-right: transparent;
  border-bottom: transparent;
}
#div2 {
  padding-left: 360px;
  padding-top: 0px;
}

.footer0 {
	margin-top: 5em;
}

.logo-grey {
	opacity: 0.5;
	margin-right: 0.5em;
}
/* Amine & Addal END */


.rating a {
   float: right;
   color: lightblue;
   text-decoration: none;
   font-size: 3em;
   transition: color .4s;
}
.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
   color: #008488;
   cursor: pointer;
}

.rating {
font-size: 0.3em;
}
